// .content {
//   padding-top: 4.5rem !important;
//   flex: 1;
//   height: 120vh;
// }

/* app.component.css */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.content {
  flex: 1;
  /* grows to fill space between header & footer */
  padding-top: 4.5rem;
  padding-bottom: 5.5rem;
}


.footer {
  height: 20px;
  background: blue;
  padding: 3px 5px;
  background-image: "assets/images/background.png";
  content: "ssss";
  //   background-color: #101010;
  background-color: #0f3964 !important;
  ;
}