<div class="container py-5 text-center">
  <h2 class="mb-4">My <span class="name">Projects</span></h2>
  <div class="row">
    <div class="col-12 col-md-4 mb-4" *ngFor="let project of projects">
      <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded h-100">
        <img [src]="project.image" class="card-img-top" alt="{{project.title}}">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ project.title }}</h5>
          <!-- Display 5-line description -->
          <ul class="card-text" style="text-align: left; padding-left: 20px;">
            <li *ngFor="let line of project.descriptionLines">{{ line }}</li>
          </ul>
          <!-- <a [href]="project.link" target="_blank" class="btn btn-outline-primary mt-auto">View</a> -->
        </div>
      </div>
    </div>
  </div>
</div>