.name {
    color: #00e0ff;
    text-shadow: 0 0 10px rgba(0, 207, 255, 0.7);
    transform: translateY(-2px);
}

.typing-text {
    color: #00e0ff;
    font-weight: 600;
    border-right: 3px solid #00e0ff;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
}

// /* Button Style */
.btn {
    margin-top: 1.5rem;
    background: #00bcd4;
    border: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #06a9de;
    transform: translateY(-2px);
}

.orbit-system {
    position: relative;
    width: 100%;
    max-width: 300px; // smaller on mobile
    height: 400px;
    margin: auto;
}

.sun-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px rgba(0, 229, 255, 0.4);
    z-index: 10;
}

.planet-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform-origin: center center;
    animation: rotate linear infinite;
}

.orbit-ring {
    position: absolute;
    inset: 0;
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.planet {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    animation: rotateReverse 20s linear infinite;
}

.planet span {
    font-size: 10px;
    margin-top: 4px;
    color: #fff;
    opacity: 0.9;
}

.planet:hover {
    transform: translate(-50%, -50%) scale(1.1);
    background: rgba(255, 255, 255, 0.15);
}

.planet img {
    width: 28px;
    height: 28px;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotateReverse {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@media (max-width: 767px) {
    .row {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .content h2 {
        font-size: 1.5rem;
    }

    .content p {
        font-size: 0.9rem;
    }

    .orbit-system {
        max-width: 200px;

        .sun-image {
            width: 70px;
            height: 70px;
        }

        .planet-orbit .planet img {
            width: 20px;
            height: 20px;
        }
    }
}